{% extends "layout.html" %} {% block title %} Words up | Help {% endblock %} {%
block main %}

<h2>How to play</h2>
<div class="float-md-start text-left">
  <p>Answer it with word that contains the key within 5 seconds</p>
  <h3>Example:</h3>
  <p>You got <b>ED</b></p>
  <p>You can answer it with word that contains <b>ED</b></p>
  <p>ti<b>ED</b> / <b>ED</b>itor / w<b>ED</b>nesday</p>
</div>

{% endblock %} {% block footer %}
<p>
  By
  <a href="https://github.com/satriadhikara"> @satriadhikara</a>
</p>
<p>
  Dictionary database from
  <a href="https://github.com/eddydn/DictionaryDatabase">@eddydn</a>
</p>
{% endblock %}
